%h1 Welcome &lt; #{current_user || "Anonymous"} &gt;
%h2 Current person: #{current_person}
%h2 Current organization: #{current_organization && current_organization.user}
%ul
  -if current_user
    %li= link_to_unless current_user.person?, current_person.user, log_out_organizations_path, method: :delete

    - current_person.organizations.each do |organization|
      %li= link_to_unless current_organization == organization, organization.user, sign_in_organization_path(organization), method: :post

    %br
    %li= link_to "New Organization", new_organization_path

%br
%ul
  - if current_user.person?
    %li= link_to "Log out", destroy_person_session_path, :method => :delete
  -elsif current_user.organization?
    %li= link_to "Log out", log_out_organizations_path, :method => :delete
  -else
    %li= link_to "Sign in", new_person_session_path
    %li= link_to "Sign up", new_person_registration_path

%br
%ul
  %li= link_to "Users", users_path
